@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
.btn,
.jumbotron,
.nav :hover {
  border-radius: 0px;
}

body {
  background: #343a40;
  font-family: 'Quicksand', sans-serif;
}

footer {
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
}
