@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
.btn,
.jumbotron,
.nav :hover {
  border-radius: 0px;
}

body {
  /* background: #fdfffc; */
  font-family: 'Quicksand', sans-serif;
}

footer {
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
}

.theme-black{
  background-color:#011627
}
.theme-white{
  background-color: #fdfffc;
}
.theme-blue{
  background-color: #2ec4b6;
}
.theme-red{
  background-color: #e71d36;
}
.theme-yellow{
  background-color: #ff9f1c;
}